	/** global*/
	html { font-size: 16px; } 
	body {
	background-color: #404040;
	padding-left: 0; padding-right: 0;margin: 0;
	font-family: "caslonReg", Arial;line-height: 20px;color: #333;
	}

	*:lang(de) > p { quotes: "\201E" "\201C"; }	/* German */
	*:lang(en) > p { quotes: "\201C" "\201D"; }	/* English */
	*:lang(fr) > p { quotes: "\00AB\00A0" "\00A0\00BB"; } 

	#box-header, #box-nav, #box-choix-publics, #box-recrutement, #box-contenu,#box-footer{width:100%;}
	#box-header{background:#fff;}
	#box-nav {height:auto;}
	#box-contenu{background:#fff;}
	#box-footer{background:#404040;}	
	
	.contenu{
	max-width:1200px;
	margin:0 auto;
	}

	h1, h2, h3, h4{
	font-family:"ag_condensed", Helvetica, Verdana;
	text-transform:uppercase;
	font-weight:normal;
	line-height:1.2;
	}
	
	p, span{
	font:0.98rem 'caslonReg';
	text-transform:none;
	}
	
	p > .aligncenter{
	    margin: 0 auto;
	    display:inherit;
	}
	
	hr {
	height:4px;
	max-width:40px;
	padding: 0;
	background-color: #000;
	border:0;
	}
	
	a:link, a:hover, a:visited{
	text-decoration:none;
	color:inherit;	
	}
	
	img{border:none;}

	.clearboth{clear:both;}

	/* Gal : agence */	
	.agence .boxType-2 .titre{background-color:#002a44;}
	.agence .titraille h1, .agence .titraille h2{color:#003f65;}
	.agence .titraille hr{background-color:#002a44;}
	.agence .boxType-4, .agence .boxType-5{background-color:#002a44;}
	.agence #box-nav, .agence #box-nav  .nav{background-color:#002a44;}	/*juste le 1er ul */
	.agence p a:link, .agence p a:hover, .agence p a:visited { color: #003f65; text-decoration: underline; }

	/* Gal : entreprise */
	.entreprise  {color:#ff4b4b;}
	.entreprise .boxType-2 .titre{background-color:#ff4b4b;}
	.entreprise .titraille {color:#ff4b4b;}
	.entreprise .titraille h1, .entreprise .titraille h2{color:currentColor;}
	.entreprise .titraille h1 + hr,  .entreprise .titraille h2 + hr {background-color:currentColor;}
	
	.entreprise .boxType-4{background-color:#ff4b4b;}
	.entreprise  #box-nav{background-color:#ff4b4b;}
	.entreprise p a:link, .entreprise p a:hover, .entreprise p a:visited { color: #ff4b4b; text-decoration: underline; }
	.entreprise td a:link, .entreprise td a:hover, .entreprise td a:visited, .entreprise .box-post-contenu li a{ color: #ff4b4b; text-decoration: underline; }



	/* Gal : particulier */
	.particulier .boxType-2 .titre{background-color:#55bab7;}
	.particulier .titraille {color:#55bab7;}
	.particulier .titraille h1, .particulier .titraille h2{color:currentColor;}
	.particulier .titraille h1 + hr,  .particulier .titraille h2 + hr {background-color:currentColor;}

	.particulier .titraille h1{color:#55bab7;}
	.particulier .titraille h1 + hr {height:4px;}
	.theme {color:#55bab7} /* pages "produit" */
	.particulier .boxType-4{background-color:#55bab7;}
	.particulier  #box-nav{background-color:#55bab7;}
	.particulier p a:link, .particulier p a:hover, .particulier p a:visited{color: #55bab7; text-decoration: underline; }
	.particulier td a:link, .particulier td a:hover, .particulier td a:visited, .particulier .box-post-contenu li a{ color: #55bab7; text-decoration: underline; }
	
	

	/* Gal : administration */
	.administration {color:#702c6a;}
	.administration .boxType-2 .titre{background-color:#702c6a;}
	.administration .titraille {color:#702c6a;}
	.administration .titraille h1, .administration .titraille h2{color:currentColor;}
	.administration .titraille h1 + hr,  .administration .titraille h2 + hr {background-color:currentColor;}
	
	.administration .boxType-4, .administration .boxType-5{background-color:#702c6a;}
	.administration #box-nav{background-color:#702c6a;}
	.administration p a:link, .administration p a:hover, .administration p a:visited{ color: #702c6a; text-decoration: underline; }
	.administration td a:link, .administration td a:hover, .administration td a:visited, .administration .box-post-contenu li a{ color: #702c6a; text-decoration: underline; }
	
	/* ---------- */
	
	/* header */
		#box-header, .home #box-header{
		position:fixed;
		z-index:5;
		}
		
		#box-header.header-shadow{box-shadow:1px 1px 13px 0 #918e8e;}
			
		
		.home #header-shim, #header-shim{height:116px;} 
			#header-shim{height:54px;}
	
		/* logo */
		.home #box-logo, #box-logo{
		width: 450px;
		display: block;
		padding: 18px 0;
		float:left;
		}
			#box-logo{padding: 6px 0;}
		

		.home #box-logo img, #box-logo img{
		display:inline-block;
		vertical-align: middle;
		width:80px;
		}
				 #box-logo img{
		     width:45px;
		 }			
		
		.home #acronyme, #acronyme{
		color: #404040;
		display: inline-block;
		font-family:"caslonReg", Arial;
		font-size: 2.5rem;
		letter-spacing: -0.1rem;
		margin: 10px 8px 0;
		padding:0;
		text-transform: uppercase;
		vertical-align: middle;
		}
			#acronyme{	font-size: 1.6rem;	}
		
		
		.home #deroule-acronyme,#deroule-acronyme{
		border-left: 1px solid #404040;
		color: #404040;
		display: inline-block;
		font-family: "ag_light_condensed";
		font-size: 1.25rem;
		line-height: 1;
		padding-left: 8px;
		vertical-align: middle;
		width: 167px;
		}	
			#deroule-acronyme{font-size: 1rem;}		
		#box-menu-burger{
		display:none;
		}
		
		
		/* surnav */
		#box-surnav {
		display: block;
		float:right;
		padding:6px 0;
		}
		
		#box-surnav ul{
		/*border: 1px solid red;*/
		list-style: none outside none;
		margin: 0 0 0 0;
		padding: 0;
		}
		
		#box-surnav li{
		display:inline-block;
		padding: 9px 9px;
		border-right:1px solid #dcdcdc;
		}
			#box-surnav li:last-child{
			border-right:none;
			padding-right: 0;
			}
			
			
		#box-surnav a:link, #box-surnav a:hover, #box-surnav a:visited{
		font-family:"ag_condensed", Helvetica, Verdana;
		text-transform:uppercase;
		color:#404040;
		font-size: 0.88rem;
		text-decoration:none;
		}
		
		#box-surnav li:nth-child(n+5) > a:hover{
		    border-bottom:1px dashed #404040; 
		}
		
		#box-surnav li:nth-child(n+5) > .alerte:hover{
		    border-bottom:1px dashed #f0001F; 
		}
		
		#box-surnav .alerte:link, #box-surnav .alerte:hover, #box-surnav .alerte:visited{
            color:#f0001F;
        }
		/*
		     #box-surnav .alerte:hover{
		        border-bottom:1px dashed #f0001F;
		     }  
		*/
		#box-surnav li span{
		background-color: #D51132;
		border-radius: 50%;
		color: #fff;
		font: 0.9rem 'ag_condensed';
		padding: 2px 5px;
		}
		
    	#box-surnav .logo-rs{
    	    width:24px;
    	    height:24px;
    	}
		
		/* tranz */
		#box-header, #box-logo,#box-logo img, #acronyme, #deroule-acronyme{ 
		transition:all 0.5s ease 0s;
		}
		
        #box-surnav img, #box-surnav iframe{
            vertical-align:middle;
           
        }
        #box-surnav img.vigipirate{
            vertical-align:middle;
            width:28%;
        }

	
	#box-langs {
		clear: right;
		float: right;
		list-style-type: none;
	}

	#box-langs li {
		display: inline;
		margin: 0 5px;
	}


	
	/* nav : styles globaux */
		#box-nav {height:auto;}
		#box-nav ul{padding: 0;margin: 0;background-color:inherit;display:flex;justify-content: center;}
		#box-nav ul li{display:inline-block;padding: 0;}
		#box-nav a:link, 
		#box-nav a:hover, 
		#box-nav a:visited{
		font-family:"ag_light_condensed", Helvetica, Verdana;
		text-transform:uppercase;
		color:#fff;
		font-size: 1.13rem;
		text-decoration:none;
		padding:22px 10px;
		display:block;
		line-height: 1.7;
		letter-spacing:0.5px;
		}

			#box-nav .nav li:last-child{
			border-right:none;
			padding-right: 0;
			}

		#box-nav .nav li:hover .sub-menu{
		/*display: none;*/
		}
		#box-nav .nav  li:hover > .sub-menu, 
		#box-nav .nav  li.current-page-ancestor > .sub-menu,
		#box-nav .nav  li.current-menu-item > .sub-menu,
		#box-nav .nav  li.current-menu-ancestor > .sub-menu{
		display: block;
		}
		#box-nav .nav  li:hover > .sub-menu {
		z-index:999;
		}

		#box-nav .nav li.current-page-ancestor > .sub-menu li.current-page-ancestor:after, 
		#box-nav .nav li.current-menu-ancestor > .sub-menu li.current-menu-item:after,
		#box-nav .nav li.current-menu-ancestor > .sub-menu li.current-menu-ancestor:after {
		border-bottom: 3px solid #404040;
		content: "";
		display: block;
		}

		#box-nav .sub-menu{
		background: #eee;
		display: none;
		left: 0;
		margin: 0;
		position: absolute;
		text-align: center;
		width: 100%;
/*		z-index:10;*/
		}
		
			#box-nav .sub-menu a:link, 
			#box-nav .sub-menu a:hover, 
			#box-nav .sub-menu a:visited{
			font-family:"ag_light_condensed";
			font-size:0.88rem;
			color:#404040;
			display:block;
			text-transform:uppercase;
			line-height: 1.929;
			padding: 11px 10px 11px 10px;
			background: #eee;
			}
		#box-nav .sub-menu li.current-page-ancestor a, 
		#box-nav .sub-menu li.current-menu-ancestor a, 
		#box-nav .sub-menu li.current-menu-item a, 
		#box-nav .sub-menu li:hover a {
		padding: 11px 10px 8px 10px;
		}	
		#box-nav .sub-menu li:hover:after {
		border-bottom: 3px solid #404040;
		content: "";
		display: block;
		}


		
		
	/**** 
	 ** contenu **
	****/
	#box-contenu{padding:15px 0 0px 0;}
	
	 #box-contenu hr{
	margin:0 auto;
	
	}
		/* news */
		#box-actualites{		}
		
		.wrapper-news{
		padding:36px 0;
		}
		
		.wrapper-news .titraille{
		margin:0 0 30px 0;
		}
		.wrapper-news .titraille hr{
		background-color: #d51132;
		}		
		
		.wrapper-news h2{
		font-family: "ag_bold_condensed";
		color:  #d51132;
		font-size: 1.56rem; 
		line-height: 0.8;
		margin: 15px 0;
		text-align:center;
		text-transform: uppercase;
		}
			
		.wrapper-news .titraille  p {
		font-family: "ag_condensed";
		color:  #7f7f7f;
		font-size: 0.88rem;
		line-height: 1.286; 
		text-transform:uppercase;
		text-align: center;
		margin:0;
		}
			
		
		.box-news{
		margin:0 18px 0 0;
		/*border:1px dotted red;*/
		display:inline-block;
		vertical-align:top;
		padding: 16px 5px;
		max-width:30.5%;
		}
			#box-actualites .box-news:last-child{
			padding:0;
			margin:0;
			}
			#box-publications .box-news:last-child{
			padding-right:0;
			margin:0;
			}
		.wrapper-news h3, .wrapper-news h4{
		font-family: "ag_condensed";
		color: #404040;
		font-size: 1.5rem;
		line-height: 1.125;
		text-transform: none;
		margin:0;
		}
		
		.wrapper-news h4{font-family: "ag_light_condensed";}
		
		.wrapper-news p{
		font-family: "caslonReg"; 
		color:  #000000;
		font-size: 0.98rem;
		line-height: 1.286;
		}
			.wrapper-news p.date{
			color:  #404040;
			line-height: 1;
			font-style: italic;
			margin: 0;
			padding: 16px 0;
			}
		
		
		/** .boxType 1 */	
			html:lang(en) .wrapper-news .boxType-1 {
			min-height: 100px;
		}	
		
		.boxType-1 {
			border-bottom: 3px solid #eee;
			min-height: 356px;
		}
		

		#box-actualites .boxType-1 {
			float:left;
		}
		
		
		/** .boxType-2 */
		.boxType-2{
		max-width: 396px;
		padding:0;
		background: #eee;
		max-width:32%;
		}
		.boxType-2 img{
                width:100%;
		height: auto;
                }
		
			.boxType-2 .titre{
			background:#d51132; 
			padding:17px;
			}
			
			.boxType-2 h3, .boxType-2 h4 {
			color:#fff;
			}
			
			.boxType-2 p {
			padding: 0px 17px;
			}
			
			.boxType-2 p.date{
			padding:10px 16px 0 16px;
			}
			
		
		/** .boxType-3 */
		.boxType-3 ul{
		list-style:none;
		padding:0;
		margin:0;
		}
		
		.boxType-3 li {
		border-bottom:3px solid #eee;
		padding:16px 16px 0 16px;
		position:relative;
		}
			.boxType-3 li:hover {}
			.boxType-3 li:hover:after {
			    position:absolute;
			    border-bottom:3px solid currentColor;
			    content:"";
			    width:100%;
			    margin-left:-16px;
			}			
			
			.boxType-3 li:first-child{
			border-top:3px solid #eee;
			}	

			.boxType-3 li:hover h3 {
			color:currentColor;
			}
			

			
			
		/** .boxType-4 */
		.boxType-4{
		max-width:28%;
		background:#d51132;
		padding: 18px 18px 0;
		text-align:center;
		}
		.boxType-4 img{
		width:100%;
		height: auto;
		}
		.boxType-4 h3, .boxType-4 p.date{
		color:#fff;
		}
		
		/** .boxType-5 */
		.boxType-5{
		max-width:30%;
		padding: 0;
		background:none !important;
		}
		.boxType-5 img{
		width:100%;display:block;
		}
		.boxType-5 h3,  .boxType-5 p.date{
		padding:10px 10px 0 18px;
		color:#fff;
		background:#702c6a;
		}
		.boxType-5 p.date{
		padding:16px 0 16px 18px;;
		}
		
		p.actu-toutes{
		font-size:1rem;
        font-variant: small-caps;
        text-align: center;
        
		}
	/* fil ariane */
	#box-fil-ariane{margin:8px 0 0 0;padding: 0;}
	
	#box-fil-ariane li{
	display:inline-block;
	padding:0 2px;
	}
		#box-fil-ariane li:after{
		content:" > ";
		font-family:"ag_light_condensed";
		font-size:1.2rem;
		color:#3d3d3d;
		}
	
	#box-fil-ariane li, #box-fil-ariane a:link, #box-fil-ariane a:hover, #box-fil-ariane a:visited{
	font-family:"ag_light_condensed";
	font-size:0.88rem;
	text-transform:uppercase;
	text-decoration:none;
	color:#3d3d3d;
	}
	#box-fil-ariane li:last-child{
	color:#7f7f7f;
	}
	#box-fil-ariane li:last-child:after{
	content:"";
	}
	

		
	/***
		footer
	**/	
	#box-plan-site {padding:57px 0 0 0;text-align:center;}

	#box-plan-site ul {list-style:none; margin:0;}
	#box-plan-site > ul > li {display:inline-block; vertical-align:top; margin: 0 50px 0 35px;text-align:left;}
	#box-plan-site > ul > li > ul {padding:0;margin-top: 32px;}
	#box-plan-site > ul > li > ul > li:first-child { display: none; }

	#box-plan-site li > a {
	font-family: "ag_light_condensed";
        color:  #ffffff;
        font-size: 1.13rem;
        line-height: 1.4;
        letter-spacing:0.5px;
	}

	#box-plan-site > ul > li > a {
	font-family: "ag_condensed";
        text-transform:uppercase;
        font-size: 1.25rem;
        line-height: 0.9;
	}
	
	#box-footer hr{
	margin:67px auto 0 auto;
	color: #707070;
	background-color: #707070;
	
	}
	#box-nav-bas{
	border-top:1px solid #4c4c4c;
	}
	.nav-bas {
	list-style:none; 
	vertical-align:top;
	margin: 17px 0 0 0;
	padding: 0;
    text-align: center;	
	}
	
	.nav-bas li{
	font-family: "ag_light_condensed";
	font-size: 1.13rem;
	color:#fff;
	border-right:1px solid #fff;
	display:inline-block;
	padding:0 10px;
	}
	
	.nav-bas  li:last-child{
	border-right:none;
	}
	
	#liste-sites-obligatoires li {
	font-size: 1.25rem;
	border-right:none;
	}
	
	#logo_marianne{
	display:block;
	margin:24px auto 0 auto;
	}
	
	#box-copyright{
	margin:9px auto 0 auto;
	color:  #fefefe;
	font-size: 0.75rem;
	text-align: center;
	}
	

        #box-toppage{
        padding:10px 0;
        }
        #box-toppage a{
        text-align:center;
        display: block;
        }

	.liste-actu {
	padding:0;
	margin:27px 0 0 0;
	list-style:none;
	}

	.liste-actu li{
	margin:36px 0 0 0;
	}

	.liste-actu a:hover{
	text-decoration:underline;	
	}
	
	.liste-actu h3{
	margin:0;
	}

	.liste-actu .date{
	margin:0;
	}
