<link rel="stylesheet" href="/assets/css/webfonts.css" media="all">
<link rel="stylesheet" href="/assets/css/global.css" media="all">
<link rel="stylesheet" href="/assets/css/post_attachments.css" media="all">
<link rel="stylesheet" href="/assets/css/article.css" media="all">
<link rel="stylesheet" href="/assets/css/transverse.css" media="all">
<link rel="stylesheet" href="/assets/css/print.css" media="print">

<div class="page page-id-7127 page-parent page-template-default agence" data-new-gr-c-s-check-loaded="14.994.0" data-gr-ext-installed="">
    <div id="box-header" class="">
        <div class="contenu" id="box-logo-acronyme-surnav">
            <div id="box-logo">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    <img src="/assets/images/logo_anssi.png">
                    <div id="acronyme">anssi</div>
                    <div id="deroule-acronyme">Agence nationale de la sécurité des systèmes d'information</div>
                </a>
            </div>
            <div id="box-surnav">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="nous suivre sur LinkedIn (nouvelle fenêtre)"><img class="logo-rs" width="24" src="/assets/images/linkedin_logo.svg"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="nos vidéos sur Dailymotion (nouvelle fenêtre)"><img class="logo-rs" src="/assets/images/dailymotion_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="s'abonner à notre compte Twitter (nouvelle fenêtre)"><img class="logo-rs" width="24" src="/assets/images/twitter_logo.svg"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="GitHub de l'ANSSI (nouvelle fenêtre)"><img class="logo-rs" width="24" src="/assets/images/github-mark-32px.png"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="SoundCloud de l'ANSSI (nouvelle fenêtre)"><img class="logo-rs" width="24" src="/assets/images/soundcloud_logo.png"></a>
                    </li>
                    <li style="padding: 9px 3px 9px 3px;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Déclaration vulnérabilité</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">en cas d'incident</a></li>
                    <li><a class="alerte" href="http://www.cert.ssi.gouv.fr" target="_blank">alertes</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">presse</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">recrutement&nbsp;</a></li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" title="english version"><img src="/assets/images/flag_en_icon.png"></a>
                    </li>
                </ul>
            </div>
            <div class="clearboth"></div>
        </div>
    </div>
    <div id="header-shim"></div>
    <div id="box-nav">
    </div>

    <div id="box-contenu">

        <div class="contenu articles">
            <ul id="box-fil-ariane">
                <li>
                </li>
            </ul>
            <div class="titraille">
                <h1>ANSSIBOT</h1>
                <h2>Certification ANSSI Secure Niveau 2 en temps réel</h2>
                <hr>
            </div>

            <div class="col_2-3" style="width: 90%; display: block; margin: 46px auto 0px;">
                <h2>Choisissez votre système d'exploitation</h2>

                <ol id="downloadTable" style="padding-bottom: 15px;">
                    <li style="background-color: lightgrey; margin-bottom: 5px; font-weight: bold;">
                        <span>OS</span>
                        <span>Version</span>
                        <span>Lien</span>
                        <span>Notes de version</span>
                    </li>
                    <li style="background-color: #f2f4f6;">
                        <span>Windows</span>
                        <span>1.0.7</span>
                        <span>
                          <a href="#">Télécharger</a>
                        </span>
                        <span>
                          <a href="#">En savoir plus ...</a>
                        </span>
                    </li>
                    <li>
                        <span>Linux</span>
                        <span>1.0.6</span>
                        <span>
                          <a href="#">Télécharger</a>
                        </span>
                        <span>
                          <a href="#">En savoir plus ...</a>
                        </span>
                    </li>
                    <li style="background-color: #f2f4f6;">
                        <span>Mac OS</span>
                        <span>1.0.2</span>
                        <span>
                          <a href="#">Télécharger</a>
                        </span>
                        <span>
                          <a href="#">En savoir plus ...</a>
                        </span>
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <footer id="box-footer">
        <div class="contenu">
            <div id="box-plan-site" class="menu-footer-vertical-container">
                <ul id="menu-footer-vertical" class="menu">
                    <li>
                        <img src="/assets/images/icon_anssiBlanc_mini.png" style="margin-right: 5px; width: 16px;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">L'ANSSI</a>
                        <ul id="menu-menu-agence" class="menu">
                            <li id="menu-item-7085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7085">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></a>
                            </li>
                            <li id="menu-item-7068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7068"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Missions</a></li>
                            <li id="menu-item-7069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7069"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Organisation</a></li>
                            <li id="menu-item-7070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7070"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">La cybersécurité en France</a></li>
                            <li id="menu-item-7071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7071"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Rayonnement scientifique</a></li>
                            <li id="menu-item-7072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7072"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contacts</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/assets/images/icon_administrationBlanc_mini.png" style="margin-right: 5px; width: 16px;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Administration</a>
                        <ul id="menu-menu-administration" class="menu">
                            <li id="menu-item-2567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2567">
                                <a title="Administration" href="../administration/index.html"></a>
                            </li>
                            <li id="menu-item-7237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7237"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Principales menaces</a></li>
                            <li id="menu-item-3068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3068"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Réglementation</a></li>
                            <li id="menu-item-16325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16325"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Visa de sécurité</a></li>
                            <li id="menu-item-2569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2569"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Bonnes pratiques</a></li>
                            <li id="menu-item-3031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3031"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Services sécurisés</a></li>
                            <li id="menu-item-7086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7086"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Formations</a></li>
                            <li id="menu-item-19009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19009"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Management du risque</a></li>
                            <li id="menu-item-6860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6860"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Glossaire</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/assets/images/icon_entrepriseBlanc_mini.png" style="margin-right: 5px; width: 16px;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Entreprise</a>
                        <ul id="menu-menu-entreprise" class="menu">
                            <li id="menu-item-2575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2575">
                                <a title="Entreprises" href="../entreprise/index.html"></a>
                            </li>
                            <li id="menu-item-7312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7312"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Principales menaces</a></li>
                            <li id="menu-item-2580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2580"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Précautions élémentaires</a></li>
                            <li id="menu-item-6319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6319"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Réglementation</a></li>
                            <li id="menu-item-16582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16582"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Visa de sécurité</a></li>
                            <li id="menu-item-2577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2577"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Bonnes pratiques</a></li>
                            <li id="menu-item-9080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9080"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Formations</a></li>
                            <li id="menu-item-19222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19222"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Management du risque</a></li>
                            <li id="menu-item-6995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6995"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Glossaire</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/assets/images/icon_particulierBlanc_mini.png" style="margin-right: 5px; width: 16px;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Particulier</a>
                        <ul id="menu-menu-particulier" class="menu">
                            <li id="menu-item-2583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2583">
                                <a title="Particuliers" href="../particulier/index.html"></a>
                            </li>
                            <li id="menu-item-2588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2588"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Principales menaces</a></li>
                            <li id="menu-item-2940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2940"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Précautions élémentaires</a></li>
                            <li id="menu-item-2585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2585"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Bonnes pratiques</a></li>
                            <li id="menu-item-7697" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7697"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Logiciels préconisés par l’ANSSI</a></li>
                            <li id="menu-item-9084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9084"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Formations</a></li>
                            <li id="menu-item-6997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6997"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Glossaire</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <div id="box-nav-bas" class="menu-footer-horizontal-interne-container">
                <ul id="menu-footer-horizontal-interne" class="nav-bas">
                    <li id="menu-item-7421" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7421"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Alertes</a></li>
                    <li id="menu-item-2404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2404"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Actualités</a></li>
                    <li id="menu-item-2403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2403"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Presse</a></li>
                    <li id="menu-item-3905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3905"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contacts</a></li>
                    <li id="menu-item-2401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2401"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">L’ANSSI recrute</a></li>
                    <li id="menu-item-2399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2399"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Les flux RSS</a></li>
                    <li id="menu-item-10047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10047"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Liens courts</a></li>
                    <li id="menu-item-2398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2398"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Plan du site</a></li>
                    <li id="menu-item-2408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2408"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Mentions légales</a></li>
                </ul>
            </div>
            <ul id="liste-sites-obligatoires" class="nav-bas">
                <li id="menu-item-2409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2409"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">service-public.fr</a></li>
                <li id="menu-item-2410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2410"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">legifrance.gouv.fr</a></li>
                <li id="menu-item-2411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2411"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">gouvernement.fr</a></li>
                <li id="menu-item-2412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2412"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">france.fr</a></li>
                <li id="menu-item-7147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7147"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">gouvernement.fr/risques</a></li>
                <li id="menu-item-14287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14287"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">sgdsn.gouv.fr</a></li>
                <li id="menu-item-17126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17126"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">cert-fr</a></li>
            </ul>
            <img src="/assets/images/logo_rf_marianne.png" id="logo_marianne">
            <p id="box-copyright">© ANSSI 2021</p>
        </div>
    </footer>


    <div id="colorgram-extension-sidebar " class="inst-ext-sidebar ">
    </div>
</div>

<script src="/assets/scripts/global.js "></script>
<script src="/assets/scripts/jquery-1.8.2.min.js "></script>
