#downloadTable {
    font-family: SourceSansProBold, Arial, sans-serif;
}

#downloadTable li {
    list-style-type: none;
    width: 100%;
    // background-color: tomato;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#downloadTable span {
    width: 23%;
}

#downloadTable a {
    color: #2b5b84;
}

#downloadTable img {
    height: 15px;
    width: auto;
    margin-left: 5px;
}
